
<form style="display: flex; align-items: center; justify-content: center; padding: 30px;">
    <label for="name">Customer name:</label>
    <input type="text" id="name" name="name" />
    <input type="submit" value="name" class="btn btn-outline-danger" asp-action="CustomerByName" Search />
</form>

<form><button type="submit" class="w-100 btn btn-lg btn-outline-danger" asp-controller="Manager" asp-action="ManagerHome">Back to manager menu</button></form>
