@using Microsoft.AspNetCore.Http
@using OSModels;
@using System.Text.Json;
@{
    ViewData["Title"] = "StoreSelector";
}

<section class="py-5 text-center container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Store Selection</h1>
            <p class="lead text-muted">Select the store who's Orders you'd like to view</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <form class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" method="post" asp-controller="Manager" asp-action="OrderListByLocation">
            <input type="hidden" name="store" id="storeToPass" value="" />
            <div class="col">
                <button class="card shadow-sm" type="submit" onclick="send(3)">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Burbank</title>
                        <clipPath id="rect">
                            <rect width="100%" height="100%" fill="#55595c" />
                        </clipPath>
                        <image width="100%" height="225" xlink:href="https://i.imgur.com/N0MKOaR.jpg" clip-path="url(#rect)" />
                    </svg>

                    <div class="card-body">
                        <p class="card-text">Burbank</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </button>
            </div>
            <div class="col">
                <button class="card shadow-sm" type="submit" onclick="send(2)">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Chicago</title>
                        <clipPath id="rect">
                            <rect width="100%" height="100%" fill="#55595c" />
                        </clipPath>
                        <image width="100%" height="225" xlink:href="https://i.imgur.com/iydLoOU.jpg" clip-path="url(#rect)" />
                    </svg>

                    <div class="card-body">
                        <p class="card-text">Chicago</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </button>
            </div>
            <div class="col">
                <button class="card shadow-sm" type="submit" onclick="send(1)">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>New York</title>
                        <clipPath id="rect">
                            <rect width="100%" height="100%" fill="#55595c" />
                        </clipPath>
                        <image width="100%" height="225" xlink:href="https://i.imgur.com/NwFSnXe.jpg" clip-path="url(#rect)" />
                    </svg>

                    <div class="card-body">
                        <p class="card-text">New York</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>

<form><button type="submit" class="w-100 btn btn-lg btn-outline-danger" asp-controller="Manager" asp-action="ManagerHome">Back to manager menu</button></form>

<script>
    function send(value) {
        document.getElementById("storeToPass").value = value
    }
</script>