@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to R.E.I.!</h1>
    <p>We welcome you with open arms.</p>
    <p>To register as a new member, click here.</p>
</div>
